In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [2]:
weather = 'output\weather_data.csv'
city_data=pd.read_csv(weather)
city_data.head()

,Unnamed: 0,city,cloud (%),country,date,humidity (%),lat,lng,max temp (F),wind (mph)
0,0,Rikitea,78,PF,1652046763,77,-23.1203,-134.9692,24.65,8.80
1,1,Castro,2,BR,1652046763,88,-24.7911,-50.0119,12.42,1.74
2,2,Vaini,20,TO,1652046763,69,-21.2000,-175.2000,26.09,4.12
3,3,Dhidhdhoo,94,MV,1652046764,70,6.8833,73.1000,29.38,7.96
4,4,Khatanga,45,RU,1652046764,96,71.9667,102.5000,-15.21,3.98

In [4]:
# Determan max humidity level in the city data frame:
max_hum=city_data['humidity (%)'].max()
max_hum

100

In [5]:
# Configure gmaps with API key:
gmaps.configure(api_key=g_key)

In [6]:
# Store 'Lat' and 'Lng' into  locations: 
city_data=city_data.dropna()
locations=city_data[['lat', 'lng']].astype(float)

# Convert humidity level to float and store:
humidity_rate=city_data['humidity (%)'].astype(float)